<!DOCTYPE html>
<html>
  <head>
    <title>YOUR TITLE GOES HERE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- Uncomment to use external CSS
    <link rel="stylesheet" href="PATH/TO/EXTERNAL/STYLES.CSS">
    -->

    <style type="text/css">
      /* Your CSS goes here */
    </style>
  </head>

  <body>
    <!-- Create a hidden file input and a button that links to it. -->
    <input type="file" id="fileInput" onchange="readFile()" style="display: none;">
    <button onclick="document.getElementById('fileInput').click()">Choose file</button>

    <!-- Uncomment to use external JavaScript
    <script src="PATH/TO/EXTERNAL/SCRIPT.JS"></script>
    -->

    <script>
      function readFile() {
        // Get the chosen file as a blob (cancel if no file was selected).
        var fileInput = document.getElementById('fileInput');
        if (!fileInput.files || !fileInput.files[0]) {
          return;
        }
        var file = fileInput.files[0];

        // Read the file as text.
        var reader = new FileReader();
        reader.onload = function() {
          // Convert the text into a 2d array.
          var text = reader.result;
          var data = text.split('\n');
          for (var i=0; i<data.length; i++) {
            data[i] = data[i].split(',');
          }

          // **USAGE:** Change the name of myCallback() to whatever you want.
          myCallback(data);
        }
        reader.readAsText(file);
      }

      function myCallback(data) {
        // **USAGE:** Program your next steps here (and change the name!).
        // e.g.   console.log(data);
        console.log(data);
      }
    </script>
  </body>
</html>
